# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environment directories
venv/
env/
*.egg-info/

# Logs and temporary files
app.log
*.log

# Output files
output.json

# System-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Python distribution files
dist/
build/
.eggs/
*.egg
*.whl
